h1{
    color: red;
}
table{
     width:100%;
     border-collapse:collapse;
}
th,td{
    border:1px solid black;
    padding:10px;
    text-align:center;
}
nav{
    border: 1px solid orange;
    padding: 8px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding:15px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
@media (max-width: 600px){
    nav{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    nav a{
        margin: 5px 0;
    }
}